<h1 class="text-center my-4"><%= @restaurant.name %></h1>

<h2 class="text-center mb-3"><%= @restaurant.category.capitalize%></h2>

<p class="text-center mb-5"><%= @restaurant.address %></p>

<div class="container w-25 d-flex flex-column align-items-center">
  <ul class="list-group">
    <% @restaurant.reviews.each do |review| %>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <span class="badge bg-info rounded-pill me-2"><%= review.rating %></span>
        <div class="ms-auto">
          <%= review.content %>
        </div>

      </li>
    <% end %>
  </ul>
  <%= link_to "Add review", new_restaurant_review_path(@restaurant), class: 'btn btn-primary text-white w-25 my-5' %>
</div>
